doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/main.css')
  body.app
    nav.navbar.navbar-default
      div.navbar-header
      a.navbar-brand(href='/') My Tasks
    block content
