doctype html
body
	h1 this is the admin page
	form(action="/addAccount", method="POST")
		label(for="username") username
			input(type="text", name="username" id="username")
		label(for="password") password
			input(type="text", name="password" id="password")
		label(for="customid") custom id
			input(type="text", name="customid" id="customid")
		label(for="email") email
			input(type="text", name="email" id="email")
		label(for="phone") phone
			input(type="text", name="phone" id="phone")
			input(type="submit")
