doctype html
html
	head
	body
		form(action="/login", method="POST")
			input(type="text", name="username", placeholder="username")
			input(type="password", name="password", placeholder="password")
			input(type="submit")
			button(type="submit", class="email", placeholder="emails") emails
